<footer class="footer">
 <div class="container">
    <div class=" flex-container footer-container">
    <p class="copyright">© Skylab Coders 2017 all rights reserved.
    <span class="credits">
      Made with <span class="heart">❤</span> at SkylabCoders by
      <a href="https://github.com/devtoni" target="_blank">Toni</a>,
      <a href="https://github.com/oscarbarsan" target="_blank">Oscar</a> and
      <a href="https://github.com/MaximRG" target="_blank">Max</a>
    </span>
    </p>
  </div>
 </div>
</footer>