<div ng-controller="searchController">
  <header class="cover">
        <h1 class="brandName">SkyEvents</h1>
      <div class="container">
       <div class="row content-form-home">
        <div class="col-xs-12 container-home-form">
          <div class="search-container">
            <h1>Encuentra los mejores eventos cerca de tí o donde quieras</h1>
            <div class="form">
              <div class="input-div">
                <input type="text" placeholder="Qué quieres buscar?" ng-model="eventName" required>
                <input type="text" placeholder="Dónde?" ng-model="locationName" required>
              </div>
              <div class="select-div">
                <select name="" id="" ng-model="daySelected" ng-change="getDay()" required>
                  <option value="" selected disabled>Selecciona un dia</option>
                  <option value="today">Hoy</option>
                  <option value="tomorrow">Mañana</option>
                  <option value="this_week">Esta semana</option>
                  <option value="this_weekend">Este fin de semana</option>
                  <option value="next_week">Próxima semana</option>
                  <option value="this_month">Este mes</option>
                  <option value="next_month">Próximo mes</option>
                </select>
                <select name="" id="" ng-model="distanceSelected" ng-change="getDistance()" required>
                  <option value="" selected disabled>Selecciona una distancia</option>
                  <option value="50">50 km</option>
                  <option value="100">100 km</option>
                  <option value="500">500 km</option>
                  <option value="1000">1000 km</option>
                </select>
              </div>
              <a href="#!/search-results" class="btn btn-unique search-button" ng-click="getQuery()">Buscar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>
<div class="container">
  <div class="popular-event" ng-controller="popularEvents">
<div class="col-xs-12 text-center">
  <img ng-src="https://res.cloudinary.com/drenzfi8m/image/upload/v1501188393/load-spinner_xhf3th.gif" alt="" ng-show="!eventsArray.length">
</div>
  <div class="row">
    <!-- <h1>Eventos populares cerca de <span>{{city}}</span></h1> -->
    <h1>Eventos populares cerca tuyo</h1>
    <div class="gallery-events">
      <div class="card" ng-repeat="event in eventsArray">
        <!--Card image-->
       <div class="container-image-home">
          <img class="" ng-src="{{event.logo.url || imgNoAv}}" alt="Card image cap">
       </div>
        <!--/.Card image-->
        <!--Card content-->
        <div class="card-block">
          <!--Title-->
          <h4 class="card-title">{{event.name.text}}</h4>
          <!--Text-->
          <p class="card-text">{{ event.start.local | date:'dd MMM yyyy HH:mm:ss'}}</p>
          <a ng-href="#!/evento/{{event.id}}&{{event.venue_id}}" class="btn btn-primary">Mas información</a>
        </div>
        <!--/.Card content-->
      </div>
      <!--/.Card-->
    </div>
  </div>
</div>
</div>
<div ng-include src="'template/footer.html'"></div>