header.cover {
  height: 85vh;
  background-image: url('../img/bg-modified.jpg');
  background-size: cover;
  background-position: center center;
}

header.cover form input {
  background: white;
}

.brandName {

  font-weight: bold;
  margin: 0;
  padding: 2rem;
  color: white;
  /* font-family: 'Dosis', sans-serif; */
  text-align: left;
}