.card {
  margin: 1rem;
  max-width: 300px;
  /* margin-bottom: 50px; */
  /* padding: 1rem; */
  /* max-height: 300px; */
  .customBtn {
    display: flex;
    justify-content: center;
  }
}

.card .card-block {
  min-height: 175px;
  box-shadow: 1px 1px 5px 0 rgba(57, 57, 57, 0.1);
  flex-direction: column;
  justify-content: space-between;
  display: flex;
  padding: 1rem;
}